{% extends 'admin/base.twig' %}
{% block content %} 
	<div class="section">
		<div class="ux-collection">
			<div class="row items">
				{% for post in posts %} 
					<div class="card border-bottom">
						<div class="item mt-3 pb-3">
							<div class="thumbnail">
								<img src="{{post.thumbnail}}" alt="profile image">
							</div>
							<div class="text">
								<div class="d-flex">
									<p class="mb-0">{{post.title}}</p>
								</div>
								<p class="text-graymb-2">{{post.excerpt}}
								</p>
							</div>
							<div class="actions">
								<div class="btn-group dropdown">
									<button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Manage
									</button>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">
											<i class="fa fa-reply fa-fw">
											</i>Quick reply
										</a>

										<a class="dropdown-item" href="#">
											<i class="fa fa-history fa-fw"></i>
											Another action
										</a>

										<div class="dropdown-divider">
										</div>
										<a class="dropdown-item" href="#">
											<i class="fa fa-check text-success fa-fw"></i>
											Resolve Issue
										</a>
										<a class="dropdown-item" href="#">
											<i class="fa fa-times text-danger fa-fw"></i>
											Close Issue
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>

			{% if posts.pagination.pages is not empty %}
				{% set pagination = posts.pagination %}
					<nav class="pagination-block">
						<ul class="pagination">
							{% if pagination.pages|first and pagination.pages|first.current != true %}
								<li class="first btn">
									<a href="{{ pagination.pages|first.link }}">First</a>
								</li>
							{% else %}
								<li class="first btn disabled">
									<a>First</a>
								</li>
							{% endif %}

							{% if pagination.prev %}
								<li class="prev btn">
									<a href="{{ pagination.prev.link }}">Previous</a>
								</li>
							{% else %}
								<li class="prev btn disabled">
									<a>Previous</a>
								</li>
							{% endif %}

							{% for page in pagination.pages %}
								{% if page.link %}
									<li class="page-item">
										<a href="{{ page.link }}" class="page-link {{ page.class }}">{{ page.title }}</a>
									</li>
								{% else %}
									<li class="page-item current">
										<a class="{{ page.class }}  page-link ">{{ page.title }}</a>
									</li>
								{% endif %}
							{% endfor %}

							{% if pagination.next %}
								<li class="next btn">
									<a href="{{ pagination.next.link }}">
										Next
									</a>
								</li>
							{% else %}
								<li class="next btn disabled">
									<a>
										Next
									</a>
								</li>
							{% endif %}
							{% if pagination.pages|last and pagination.pages|last.current != true %}
								<li class="last btn">
									<a href="{{ pagination.pages|last.link }}">Last</a>
								</li>
							{% else %}
								<li class="last btn disabled">
									<a>Last</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				{% endif %}
			</div>	
		</div>

	</script>
{% endblock %}